.Toggle {
    min-width: 33px;
    height: 18px;
    border-radius: 100px;
    padding: 1px;
    background: #FF870233;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    transition: 0.5s;
}

.Toggle div {
    width: 16px;
    height: 16px;
    background: #FF8702;
    border-radius: 100px;
    transition: 0.5s;
}

.Toggle.Active {
    transition: 0.5s;
    justify-content: flex-end;
}