.Section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px 175px 15px;
}

.Box {
    max-width: 1300px;
    width: 100%;
    border-radius: 20px;
    background: url("/Background2.png") no-repeat;
    background-size: cover;
    padding: 25px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Box h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 55px;
    color: #FFFFFF;
}

.Box h2 span {
    font-weight: 900;
}

.AppBox {
    display: flex;
    align-items: center;
}

@media screen and (max-width:950px) {
    .AppBox {
        flex-direction: column;
        gap: 30px;
    }

    .Section {
        padding: 0 15px 50px 15px;
    }
}

@media screen and (max-width:750px) {
    .Box {
        padding: 16px;
    }

    .Box h2 {
        font-size: 30px;
        line-height: 32px;
    }

    .Box h2 br {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .AppBox img {
        max-width: 100px;
        min-width: 100px;
        width: 100%;
    }

    .Box {
        gap: 15px;
    }

    .Box h2 {
        font-size: 16px;
        line-height: 18px;
    }

    .AppBox {
        gap: 10px;
    }
}