.Section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px 175px 15px;
}

.Container {
    max-width: 1300px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.Box {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.Box h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 55px;
    color: #313131;
}

.BoxItem {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.BoxItem div {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 550px;
    font-size: 25px;
    font-weight: 500;
    line-height: 28px;
    color: #313131;
}

.BoxItem div svg {
    min-width: 56px;
}

.Image {
    position: absolute;
    right: 0;
}

@media screen and (max-width: 1200px) {
    .Image {
        position: static;
        width: 50%
    }

    .Section {
        padding: 0 15px 50px 15px;
    }
}

@media screen and (max-width: 1000px) {
    .Container {
        align-items: center;
        justify-content: center;
    }

    .Image {
        display: none;
    }

    .Box {
        align-items: center;
        gap: 20px;
    }

    .Box h2 {
        font-size: 32px;
        line-height: 35.2px;
        text-align: center;
    }

    .Box h2 br {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .BoxItem div {
        font-size: 14px;
        gap: 5px;
        line-height: 14px;
    }

    .BoxItem {
        gap: 15px;
    }

    .BoxItem svg {
        width: 40px;
        height: 40px;
    }
}