.Section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px 175px 15px;
}

.Container {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.Container h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 55px;
    color: #313131;
}

.Container div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width:950px) {
    .Container {
        gap: 20px;
        align-items: center;
    }

    .Container h2 {
        font-size: 32px;
        line-height: 35.2px;
    }

    .Section {
        padding: 0 15px 50px 15px;
    }
}

@media screen and (max-width:500px) {
    .Container div {
        justify-content: center;
        gap: 30px;
    }

    .Container div img {
        max-width: 50%;
        width: 100%;
    }
}