.Page {
    width: 100%;
    min-height: calc(100vh - 94px);
    display: flex;
    justify-content: center;
    padding: 0 15px 40px 15px;
}

.Container {
    max-width: 1300px;
    width: 100%;
    padding: 40px 0;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.Content {
    width: 100%;
    box-shadow: 3px 3px 16px 0px #B6A1C033;
    border-radius: 20px;
    background: #fff;
    padding: 40px 55px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Content h2 {
    font-size: 23px;
    font-weight: 800;
    line-height: 22px;
    color: #23232B;
}

.SpecialistsBox {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SpecialistsBox img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center top;
}

.Avatars {
    display: flex;
    align-items: center;
    gap: 12px;
}

.SpecialistsBox svg {
    min-width: 20px;
    height: 20px;
    color: #CCCCD6;
    cursor: pointer;
}

.InfoBox {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}

.ImageBox {
    width: 100%;
    position: relative;
    max-width: 375px;
    border-radius: 20px;
    overflow: hidden;
}

.ImageBox img {
    width: 100%;
}

.ImageBox svg {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    cursor: pointer;
}

.Info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Info h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
    color: #23232B;
}

.Info h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #23232B;
}

.Info h4 span {
    color: #FF8702;
}

.Info .About {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.Info .About p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #23232B;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 7;
    text-overflow: ellipsis;
}

.Info .About p.FullText {
    display: flex;
}

.Info .About h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #FF8702;
    cursor: pointer;
}

.Achive {
    display: flex;
    align-items: center;
    gap: 10px;
}

.AchiveItem {
    box-shadow: 2px 4px 10px 0px #B6A1C01C;
    padding: 15px;
    border-radius: 7px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.AchiveItem svg {
    width: 20px;
    height: 20px;
    color: #FF8702;
}

.AchiveItem h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #23232B;
}

.AchiveItem p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #23232B;
    margin-top: -5px;
}

.TextBox {
    border-top: 1px solid #F2F2F2;
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}

.TextBox .TextBoxTop svg {
    transition: 0.5s;
}

.TextBox.ActiveTextBox .TextBoxTop svg {
    transform: rotate(180deg);
}

.TextBoxTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.TextBoxBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.TextBox.ActiveTextBox .TextBoxBottom {
    max-height: 1000px;
    padding-top: 30px;
}

.TextBox p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #23232B;
}

.InfoBox button:first-child {
    position: absolute;
    left: -20px;
    z-index: 10;
    box-shadow: 2px 4px 10px 0px #B6A1C01C;
}

.InfoBox button:last-child {
    position: absolute;
    right: -20px;
    z-index: 10;
}

.TextBoxBottom p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #23232B;
}

.TextBoxBottom h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #AFABA8;
}

.ChooseSession {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .Avatars {
        overflow-x: scroll;
    }

    .Avatars::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .Page {
        padding: 0;
    }

    .Container {
        padding: 0;
    }

    .Content {
        padding: 0;
        box-shadow: none;
        gap: 0;
        padding-bottom: 100px;
    }

    .Title {
        display: none;
    }

    .SpecialistsBox {
        gap: 30px;
    }

    .InfoBox button {
        display: none;
    }

    .InfoBox {
        flex-direction: column;
        gap: 0;
    }

    .ImageBox {
        width: 100%;
        max-width: 100%;
        border-radius: 0;
    }

    .Info {
        margin-top: -100px;
        z-index: 10;
        background: #fff;
        width: 100%;
        border-radius: 50px;
        padding: 30px 20px;
        align-items: center;
    }

    .Info h3,
    .Info h4 {
        text-align: center;
    }

    .Info h4 {
        font-size: 14px;
    }

    .TextBox {
        padding: 40px 20px;
    }

    .ButtonBox {
        width: 100%;
        padding: 0 20px;
    }

    .ButtonBox button {
        width: 100%;
    }
}