.Section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    padding-bottom: 175px;
    padding-top: 50px;
}

.Container {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Container h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 55px;
    color: #313131;
}

.Items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.Item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.Item svg {
    color: #FF8702;
    min-width: 100px;
}

.Item div {
    flex-direction: column;
    gap: 8px;
    display: flex;
}

.Item h3 {
    color: #1A3C51;
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
}

.Item p {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #313131;
}

.Image {
    position: absolute;
    right: 0;
    z-index: -1;
}

@media screen and (max-width:1200px) {
    .Image {
        display: none;
    }

    .Section {
        padding-bottom: 50px;
    }
}

@media screen and (max-width:850px) {
    .Container {
        gap: 30px;
    }

    .Container h2 {
        font-size: 32px;
        line-height: 35.2px;
        text-align: center;
    }

    .Items {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}

@media screen and (max-width:550px) {
    .Item svg {
        min-width: 45px !important;
        max-width: 45px;
        height: 45px !important;
    }

    .Item h3 {
        font-size: 18px;
        line-height: 17.6px;
    }

    .Item p {
        font-size: 14px;
        line-height: 13.2px;
    }
}