.Select {
    cursor: pointer;
    background: #FF8702;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 79px;
    padding: 0 30px;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    color: #fff;
    transition: 0.5s;
}

.Select.isFaq {
    font-size: 18px;
    height: 60px;
    line-height: 120%;
}

.Select svg path {
    fill: #fff;
}

.Select svg {
    transition: 0.5s;
    min-width: 24px;
    height: 24px;
}

.Item.Active .Select svg {
    transform: rotate(180deg);
}

.Item.Active .Select svg path {
    fill: #1A3C51;
}

.DropDown {
    display: none;
    padding: 30px 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    white-space: pre-wrap;
}

.Item.Active .DropDown {
    display: flex;
}

.Item.Active .Select {
    background: #E8E8E8;
    color: #1A3C51;
}

@media screen and (max-width:750px) {
    .Select {
        font-size: 16px;
        line-height: 18px;
    }

    .Select.isFaq {
        height: auto;
        padding: 15px 30px;
    }

    .DropDown {
        font-size: 14px;
        line-height: 16px;
    }

    .Select svg {
        min-width: 15px;
        height: 15px;
    }
}