.Page {
    max-width: 1330px;
    padding: 40px 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
}

.Section {
    width: 100%;
    box-shadow: 3px 3px 16.7px rgba(182, 161, 192, 0.2);
    border-radius: 20px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Top h2 {
    color: #23232B;
    font-size: 23px;
    font-weight: 700;
}

.Top svg {
    width: 24px;
    height: 24px;
    color: #BCBCBF;
    cursor: pointer;
}

.Section button {
    width: fit-content;
}

@media screen and (max-width: 768px) {
    .Page {
        padding: 0;
        height: calc(100vh - 70px);
        margin-bottom: 100px;
    }

    .Section {
        padding: 0;
        box-shadow: none;
        flex-direction: column;
        gap: 20px;
        padding: 0 15px;
        min-height: 100%;
    }

    .Top {
        gap: 10px;
        padding-top: 20px;
    }

    .Top h2 {
        font-size: 16px;
        color: #BCBCBF;
    }

    .Section button {
        width: 100%;
    }

    .Form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
    }
}