.Section {
    width: 100%;
    box-shadow: 3px 3px 16px 0px #B6A1C033;
    border-radius: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    max-width: 980px;
    overflow: hidden;
    position: absolute;
    top: 134px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    margin-left: 160px;
    padding: 40px 55px;
    padding-bottom: 100px;
}

.Section>div {
    width: 100%;
}

.Hidden {
    display: none !important;
}

.MessageButton {
    width: 42px;
    height: 42px;
    position: absolute;
    z-index: 1001;
    right: 10px;
    bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    background: #313443;
    border: none;
    color: #fff;
}

.BackMobileIcon {
    width: 42px;
    height: 42px;
    position: absolute;
    z-index: 1001;
    left: 20px;
    top: 20px;
    border-radius: 10px;
    cursor: pointer;
    background: #313443;
    border: none;
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
}

.BackMobileIcon svg,
.MessageButton svg {
    width: 20px;
    height: 20px;
}

.Top {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.Top svg {
    width: 24px;
    height: 24px;
    color: #D9D9D9;
    cursor: pointer;
}

.Top h2 {
    font-size: 23px;
    font-weight: 800;
    line-height: 22px;
    color: #23232B;
}

.Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.Box p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #23232B;
}

.Box .Column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Box .Column h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #23232B;
}

.Box .Column h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 22px;
    color: #23232B;
}

@media screen and (max-width: 1160px) {
    .Section {
        margin: 0;
        width: 100%;
        height: 100vh;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
    }

    .MessageButton {
        top: 20px;
        right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .Top {
        width: 100%;
        justify-content: space-between;
    }

    .Top svg {
        width: 30px;
        height: 30px;
    }

    .Top span {
        width: 30px;
    }

    .Empty {
        display: flex;
    }

    .Section {
        padding: 20px;
        justify-content: flex-start;
    }

    .VideoCall {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Video {
        width: 100%;
        height: 100%;
    }

    .Center .Box {
        height: calc(100% - 120px);
        justify-content: center;
        align-items: center;
    }

    .BackMobileIcon {
        display: flex;
    }
}