.Page {
    max-width: 1330px;
    padding: 40px 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
}

.Section {
    width: 100%;
    box-shadow: 3px 3px 16.7px rgba(182, 161, 192, 0.2);
    border-radius: 20px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Session {
    width: 100%;
    height: 235px;
    border-radius: 13px;
    background: url("/Psych/Home1.png") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    cursor: pointer;
}

.Session h3 {
    font-size: 24px;
}

.Payments,
.Stats,
.Clients,
.Schedule {
    width: 100%;
    height: 150px;
    border-radius: 13px;
    background: url("/Psych/Home2.png") no-repeat;
    background-size: cover;
    padding: 30px;
    color: #fff;
    cursor: pointer;
}

.Row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.Stats {
    background: url("/Psych/Home3.png") no-repeat;
}

.Clients {
    background: url("/Psych/Home4.png") no-repeat;
}

.Schedule {
    background: url("/Psych/Home5.png") no-repeat;
}

.Memo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    color: #4C4C69;
    font-weight: 400;
    margin-top: 15px;
    cursor: pointer;
}

.MobileHeader {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: 15px;
}

.MobileHeader .User {
    width: 24px;
    height: 24px;
    background: #FFC381;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.Notifications {
    width: 24px;
    height: 24px;
    color: #fff;
}

.Grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.PsychItem {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 13px;
    box-shadow: 2px 4px 10px rgba(182, 161, 192, 0.11);
    overflow: hidden;
    cursor: pointer;
}

.PsychItem .Border {
    width: 8px;
    height: 100%;
    background: #92D35E;
}

.PsychItem .ItemBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 12px;
}

.PsychItem svg {
    width: 16px;
    height: 16px;
}

.RowBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.RowBox svg {
    color: #BCBCBF;
}

.RowBox h3 {
    color: #23232B;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
}

.Payed {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #92D35E;
}

@media screen and (max-width: 768px) {
    .Page {
        padding: 0;
        padding-bottom: 100px;
    }

    .Section {
        padding: 0;
        box-shadow: none;
    }

    .MobileHeader {
        display: flex;
    }

    .Session {
        height: 210px;
        border-radius: 0 0 30px 30px;
        justify-content: flex-end !important;
        position: relative;
        padding-bottom: 32px;
    }

    .Row,
    .Memo {
        padding: 0 15px;
    }

    .Row div {
        background-position: top right;
    }

    .Grid {
        grid-template-columns: repeat(1, 1fr);
    }
}