.Sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    min-height: 300px;
    width: 100%;
}

.Sidebar div {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: 0.5s;
    color: #23232B;
    font-size: 16px;
    font-weight: 400;
    height: 44px;
}

.Sidebar div:hover {
    opacity: 0.7;
}

.Sidebar div svg {
    color: #E1DDD8;
    width: 24px;
    height: 24px;
}

.Sidebar div.Active svg {
    color: #FF8702;
}

.Sidebar div:nth-child(4) {
    display: none;
}

@media screen and (max-width:1160px) {
    .Sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        flex-direction: row;
        background: #fff;
        min-height: 50px;
        align-items: flex-end;
        max-width: 100%;
        z-index: 100;
        justify-content: space-between;
        padding: 16px 0 10px 0;
    }

    .Sidebar div p {
        display: none;
    }

    .Sidebar div {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .Sidebar div:last-child {
        display: none;
    }

    .Sidebar div:nth-child(4) {
        display: flex;
    }
}