.Diary {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Diary h2 {
    color: #23232B;
    font-size: 16px;
    font-weight: 800;
}

.Top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #BCBCBF;
    font-size: 18px;
    font-weight: 700;
}

.Top svg {
    width: 24px;
    height: 24px;
    color: #BCBCBF;
    cursor: pointer;
}

.Tabs {
    background: #F2F2F2;
    height: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 100px;
}

.Tabs div {
    padding: 0 17px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 100%;
    color: #BCBCBF;
    font-size: 14px;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
}

.Tabs div.ActiveTab {
    background: #FF8702;
    color: #fff;
}

.Items {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
}

.Items div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    box-shadow: 2px 4px 10px 0px #B6A1C01C;
    padding: 20px 0;
    border-radius: 13px;
    color: #23232B;
    font-size: 14px;
    font-weight: 400;
    transition: 0.5s;
}

.Items div:hover {
    box-shadow: 2px 4px 10px 0px #FF870250;
}

.Items img {
    width: 60px;
    height: 60px;
}

.Block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.AdditionalItems {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.AdditionalItems div {
    box-shadow: 2px 4px 10px 0px #B6A1C01C;
    border-radius: 3px;
    height: 25px;
    padding: 0 8px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    color: #23232B;
}

.AdditionalItems div:hover {
    background: #FF870290;
    color: #fff;
}

.Textarea {
    background: #fff;
    box-shadow: 2px 4px 10px 0px #B6A1C01C;
    border-radius: 12px;
    height: 90px;
    width: 100%;
    resize: none;
    border: none;
    padding: 10px;
}

.CloseIcon {
    width: 16px !important;
    height: 16px !important;
}

.Clanedar {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 80px;
}

.Diary h6 {
    font-size: 26px;
    font-weight: 800;
    line-height: 10px;
    text-align: center;
    color: #23232B;
}

.ClanedarItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ClanedarItem div {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    gap: 0 8px;
}

.ClanedarItem h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #BCBCBF;
}

.ClanedarItem h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
    color: #23232B;
}

.ClanedarItem div span {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: 0.5s;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.ClanedarItem div span.ActiveDay {
    background: #FF870240;

}

@media screen and (max-width: 768px) {
    .Diary {
        padding: 20px;
    }

    .Items {
        overflow-x: scroll;
        padding-bottom: 10px;
    }

    .Items::-webkit-scrollbar {
        display: none;
    }

    .Items div {
        min-width: 100px;
    }

    .Tabs {
        align-self: center;
    }

    .Clanedar {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
    }

    .Diary h6 {
        display: none;
    }

    .ClanedarItem div {
        grid-template-columns: repeat(7, 1fr);
    }
}