.Footer {
    width: 100%;
    padding: 55px 75px;
    background: #1A3C51;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container {
    max-width: 1300px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.Box {
    flex-direction: column;
    gap: 25px;
    display: flex;
}

.Box svg {
    margin-bottom: 10px;
}

.Box h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
}

.Box p {
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    color: #fff;
}

.Box h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 15px;
}

.Container ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.Container ul li {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
}

.Download {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Download p {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    color: #FFFFFF;
}

.Download .Images {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Download .Images div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.SocialBox {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-end;
}

.SocialBox .Language {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.SocialBox h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    color: #fff;
}

.SocButBox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.SocialBox .LinkBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: #fff;
}

@media screen and (max-width: 1100px) {
    .Container {
        flex-wrap: wrap;
        gap: 20px;
    }

    .Container ul {
        align-items: flex-end;
    }
}

@media screen and (max-width: 750px) {
    .Download {
        display: none;
    }

    .SocialBox {
        width: 100%;
        margin-top: 40px;
    }

    .SocialBox h4,
    .SocialBox .LinkBox {
        display: none;
    }

    .Footer {
        padding: 55px 15px !important;
    }
}

@media screen and (max-width: 450px) {
    .Container ul li {
        font-size: 16px;
        line-height: 20px;
    }

    .Box h4,
    .Box h3 {
        font-size: 16px;
        line-height: 18px;
    }

    .Box>svg {
        max-width: 150px;
    }
}