.Page {
    max-width: 1330px;
    padding: 40px 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
}

.Section {
    width: 100%;
    box-shadow: 3px 3px 16.7px rgba(182, 161, 192, 0.2);
    border-radius: 20px;
    padding: 30px 50px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.Column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.AvatarBox {
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

.Avatar {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.Avatar div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #4C4C6950;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.Avatar div svg {
    width: 24px;
    height: 24px;
}

.Avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.AvatarBox button {
    width: fit-content;
    color: #FF8702;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.Form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Form label {
    margin-bottom: -20px;
    color: #4C4C69;
    font-weight: 700;
    font-size: 16px;
}

.InputListBox {
    border-radius: 100px;
    border: 1px solid #BCBCBF;
    overflow: hidden;
}

.InputList {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 5px;
    max-width: 405px;
    overflow-x: scroll;
}

.InputList::-webkit-scrollbar {
    height: 3px;
    position: absolute;
    top: 0;
}

.InputList input {
    width: 100%;
    height: 38px;
    background: transparent;
    border: none;
    min-width: 100px;
}

.Memo {
    padding: 12px;
    border-radius: 7px;
    background: #FF870220;
    font-size: 14px;
    color: #23232B;
    font-weight: 400
}

.Memo ul {
    margin-left: 15px;
}

.Box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 160px;
}

.Box label {
    color: #4C4C69;
    font-weight: 700;
    font-size: 16px;
}

.Edu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.MobileHeader {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}

.MobileHeader svg {
    width: 28px;
    height: 28px;
    color: #BCBCBF;
}

.MobileHeader h3 {
    width: 100%;
    color: #BCBCBF;
    text-align: center;
}

.MobileHeader div {
    width: 28px;
    height: 28px;
}

.Disabled,
.Disabled input {
    cursor: not-allowed;
    background: #E8E8E8;
    border-radius: 100px;
    color: rgba(0, 0, 0, 0.5);
}

.Disabled div {
    border-color: #E8E8E8 !important;
}

.DeleteAccount {
    margin-top: -25px;
    align-self: center;
    height: 44px;
    border-radius: 100px;
    background: #FB5935;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
}

.Logout {
    width: fit-content;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #BCBCBF;
    font-size: 16px;
    font-weight: 700;
    display: none;
}

@media screen and (max-width: 768px) {
    .Page {
        padding: 0;
        padding-bottom: 100px;
    }

    .Section {
        padding: 0;
        box-shadow: none;
        flex-direction: column;
        gap: 20px;
        padding: 0 15px;
    }

    .MobileHeader {
        display: flex;
    }

    .Column {
        align-items: center;
    }

    .Box {
        margin-top: 0;
    }

    .Memo,
    .Form {
        width: 100%;
    }

    .Logout {
        display: flex;
    }
}