.Page {
    max-width: 1300px;
    padding: 40px 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
}

.Section {
    width: 100%;
    box-shadow: 3px 3px 16.7px rgba(182, 161, 192, 0.2);
    border-radius: 20px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.Grid .Item {
    box-shadow: 2px 4px 10px rgba(182, 161, 192, 0.11);
    background: #fff;
    width: 100%;
    border-radius: 13px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    cursor: pointer;
}

.Grid .Item .Row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Box {
    display: flex;
    align-items: center;
    gap: 12px;
}

.Type {
    padding: 0 8px;
    height: 20px;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.ID {
    color: #AFABA8;
    font-size: 12px;
    font-weight: 500;
}

.Item h3 {
    color: #23232B;
    font-size: 23px;
    font-weight: 700;
}

.Column {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.Column span,
.Column p {
    font-size: 12px;
    color: #AFABA8;
    font-weight: 700;
}

.Column span {
    font-weight: 500;
}

.Modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ModalBox {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    padding: 50px 46px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.ModalBox h2 {
    font-size: 22px;
    font-weight: 800;
    color: #23232B;
}

.ModalBox svg {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #D9D9D9;
    cursor: pointer;
}

.ModalInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.ModalTop {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ModalList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ModalList div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ModalList div p {
    font-size: 14px;
    font-weight: 400;
    color: #AFABA8;
    text-align: end;
}

.ModalList div p:last-child {
    color: #23232B;
}

.ModalList div p span {
    font-weight: 700;
}

.ModalList div h3 {
    font-weight: 700;
    font-size: 20px;
    color: #23232B;
}