@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body,
html {
  max-width: 100%;
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.react-code-input {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}

.react-code-input input {
  width: 44px !important;
  height: 34px !important;
  border: 1px solid #BCBCBF !important;
  border-radius: 100px !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: row !important;
  justify-content: center !important;
  box-shadow: none !important;
  color: #23232B !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  text-align: center !important;
  padding-left: 0px !important;
}

.rc-slider-rail {
  background: #E1DDD8 !important;
  height: 6px;
}

.rc-slider-handle {
  border: 4px solid #fff !important;
  width: 18px;
  height: 18px;
  margin-top: -6px;
  background: #E1DDD8;
  box-shadow: 2px 4px 10px 0px #B6A1C01C !important;
}

.rc-slider-handle:hover,
.rc-slider-handle-dragging {
  border-color: #fff !important;
  background: #FF8702;
  box-shadow: none !important;
}

/* Video Call */
.VsTVUAD89KWleD0YRVsD {
  background: #FF8702 !important;
  border-radius: 100px !important;
}

.TYiiRFB3EhYJGVPE4k4q {
  border: 1px solid #BCBCBF !important;
  border-radius: 100px !important;
  display: none !important;
}

.sCsSbKP9yxvw4LQAeaTz {
  background: #fff !important;
}

.ji5jASszKFf2CGCmbxEh {
  background: transparent !important;
  position: absolute !important;
  bottom: 10px;
  z-index: 1000;
}

.QajuHzlZleFtiTUp_E8u.zzHlKp_IVmgXBPV3Jv58 {
  padding: 50px 8px !important;
}

.QAHxuJxRZWb3P_cbR8QA {
  padding: 0 !important;
  border-radius: 0 !important;
}

.Xfk1RtGH65gHx0iQ5uPA .GBqD5akUB0siCNWbAPQr {
  border-radius: 0 !important;
}

.R5UUhzsZdRHH4U5V6kon {
  top: 10px;
  height: fit-content;
}

.j9ygOVxEl2nClTPs77Ta {
  background: #fff !important;
  padding: 50px 0;
}

.j9ygOVxEl2nClTPs77Ta * {
  color: #000 !important;
}

.IughcowXVrJ5wcOf6vH9 {
  background: #FF8702 !important;
  color: #fff !important;
  border-radius: 100px !important;
}

.mCx2N1NwuMWObjjTeG0q {
  border: 1px solid #BCBCBF !important;
  border-radius: 100px !important;
  color: #BCBCBF !important;
}

._M8cCug8H18ALQ05cNMt {
  margin: 0 !important;
}

.M4HRY2n7rpNAd1UjDNZe {
  position: absolute;
  width: 100% !important;
  height: 100%;
  margin: 0 !important;
  z-index: 1001;
}

.xM8CBkrn0wtFOdOP84Bb input {
  width: 100% !important;
}

.j9ygOVxEl2nClTPs77Ta {
  padding: 150px 0 !important;
}