.Section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 175px;
    padding: 0 15px 175px 15px;
}

.Box {
    max-width: 1300px;
    width: 100%;
    border-radius: 20px;
    background: url("/Background2.png") no-repeat;
    background-size: cover;
    padding: 35px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Box button {
    background: #fff;
    color: #FF8702;
}

.Box h3 {
    font-size: 42px;
    font-weight: 800;
    line-height: 46px;
    color: #fff;
}

.Box h3 span {
    font-weight: 900;
}

.Box button {
    white-space: nowrap;
}

@media screen and (max-width:950px) {
    .Box {
        padding: 15px;
    }

    .Box h3 {
        font-size: 30px;
        line-height: 34px;
    }

    .Section {
        padding: 0 15px 50px 15px;
    }
}

@media screen and (max-width:650px) {
    .Box button {
        font-size: 12px;
        line-height: 13.64px;
        height: 30px;
        padding: 0 16px;
    }

    .Box h3 {
        font-size: 16px;
        line-height: 18px;
    }
}