.Page {
    max-width: 1300px;
    padding: 40px 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
}

.Section {
    width: 100%;
    box-shadow: 3px 3px 16.7px rgba(182, 161, 192, 0.2);
    border-radius: 20px;
    padding: 30px 50px;
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.Section label {
    font-size: 16px;
    color: #4C4C69;
    font-weight: 700;
}

.Section p {
    font-size: 14px;
    color: #4C4C69;
    font-weight: 400;
}

.Section div {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.Margin {
    margin-top: 30px;
}

.Section button {
    width: fit-content;
}